
.titulo { 
    color: blue;
    float: left;
    position: absolute;
    position: fixed;
}

   


.texto{
    background-color: burlywood;
    padding: 10px;
    margin: 12px;
    font-style: italic;

}    
